@import './partials/params.scss';
@import './partials/mixins.scss';
#footer {
  background: #212121;
}
.footer__main {

  padding: 60px 0 43px 0; 
}
.footer__cols {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}
.footer__col {
  padding: 0 15px;
  
}


