@import './partials/fonts.scss';
@import './partials/params.scss';
@import './partials/mixins.scss';
@import './partials/animations.scss';
@import './header.scss';
@import './footer.scss';
@import './modal.scss';



body {
  min-width: 320px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  @include clear;
  scroll-behavior: smooth;
  background: linear-gradient(0deg, #EFF5FF, #EFF5FF), #D9D9D9;
  overflow-x: hidden;
}

* {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
  outline: none !important;
}

main {
  overflow: hidden;
}

a {
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  text-decoration: none;
  color: $yellow;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: initial;
  height: initial;
}


@media (min-width: 1199px) {
  .onlyMobile {
    display: none !important;
  }
}


@include large-screen {
  .onlyMobile {
    display: block;
  }

  .onlyDesktop {
    display: none !important;
  }

}


.container {
  @include container;
}


.indexpage {
  background-image: url(../img/bg1.svg);
  background-size: cover;

  @media screen and (min-width: 1450px) {
    min-height: 1098px;
  }

  background-position: top center;
}

.mainblock {
  padding: 58px 0;

}

.imgtitle {

  padding-bottom: 50px;
  position: relative;

  &.imgtitle_h2 {
    padding-bottom: 63px;
  }

  &:after {
    content: url(../img/h1.svg);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &.imgtitle_h2:after {
    content: url(../img/h2.svg);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 69px;
    color: #FFFFFF;
    margin: 0;
  }

  h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 50px;
    margin: 0;
    color: #29395B;
  }
}

.mainblock__text {
  margin: 30px 0;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;

  color: #FFFFFF;

}

.mainblock__button {
  margin: 30px 0;
}

.button {
  display: block;
  margin: 5px 5px 5px 0;
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;

  background: #FF8806;
  border-radius: 12px;
  padding: 22px 60px;
  color: #FFFFFF;

  &:hover {
    background: #FF6006;
    color: #FFFFFF;
  }

  &:focus {
    background: #E25100;
    color: #FFFFFF;
  }

  &:disabled {
    background: #FF8806;
    color: #FFFFFF;
    opacity: 0.4;
  }
}

#header {
  .container {
    max-width: 1553px;
  }
}

.mainblock__content {
  max-width: 764px;
}

.colstitle {
  display: flex;
  margin: 0 -16px;

  >div {
    padding: 0 16px;
  }
}

.colstitle__title {
  width: 610px;
}

.colstitle__text p {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 30px;
  color: #29395B;
}

.iconsblock__wrapper {}

.iconsblock__title {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */


  color: #29395B;
  margin: 20px 0;
}

.iconsblock__items {
  margin: 50px 0 83px 0;
  display: flex;
}

.iconsblock__item {
  width: 20%;
}

.iconsblock__icon {}

.iconsblock__image {
  /* margin-bottom: 50px; */
  height: 279px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconsblock__img {}

.iconsblock__name {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #29395B;
}

.iconsblock__one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info {
  margin: 20px 0;
  background: #FFFFFF;
  box-shadow: 12px 12px 60px rgba(41, 57, 91, 0.15);
  border-radius: 16px;
  padding: 20px;
}

.info__wrapper {
  display: flex;
  align-items: center;
}

.info__icon {
  margin-right: 24px;
}

.info__image {}

.info__img {}

.info__content {
  text-align: left;
}

.info__title {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 9px;
  color: #29395B;
}

.info__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */


  color: #29395B;
}

.iconsblock {
  margin-top: -80px;
  padding: 0 0 38px 0;
}

.fitchesblock {
  padding: 70px 0;


}

.imgtitle_small {
  padding-bottom: 33px !important;
  margin-bottom: 50px !important;
}

.fitchesblock__cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fitchesblock__col {}

.fitchesblock__col_fitches {
  max-width: 420px;
  width: 100%;
}

.fitches {}

.fitches__wrapper {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 12px 12px 60px rgba(41, 57, 91, 0.15);
  border-radius: 16px;
  padding: 19px 22px;
  min-height: 98px;
}

.fitches__icon {
  padding-right: 27px;
}

.fitches__image {}

.fitches__img {}

.fitches__text {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;

  color: #29395B;
}

.fitches__item {
  margin-bottom: 23px;
}

.fitchesblock__col_image {}

.fitchesblock__img {
  position: relative;
  z-index: -1;
}

.text {
  margin-top: 24px;
  margin-bottom: 30px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */


  color: #29395B;
}

.priceblock__wrapper {
  padding: 20px 0 30px 0;
}

.pricing {}

.pricing__items {
  display: flex;
  margin: 0 -7px;
}

.pricing__item {
  flex-basis: 100%;
  padding: 0 7px;
}

.pricing__one {}

.pricing__wrapper {
  background: #FFFFFF;
  box-shadow: 12px 12px 60px rgba(41, 57, 91, 0.15);
  border-radius: 12px 40px 12px 12px;
  padding: 25px 20px 22px 20px;
}

.pricing__title {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  margin-bottom: 10px;
  color: #29395B;
}

.pricing__text {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 19px;
  color: #29395B;

  opacity: 0.5;
}

.pricing__price {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  margin-bottom: 18px;

  color: #29395B;
}

.pricing__button {}



.button_type2 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  background: none;
  border: 1px solid rgba(41, 57, 91, 0.15);
  border-radius: 8px;
  padding: 16px 28px;
  color: #FF8806;
  text-align: center;
}

.pricing__button .button_type2 {
  width: 100%;
  margin: 0;
}

.promo {
  margin-top: 52px;
  margin-bottom: 52px;
}

.promo__wrapper {
  border-radius: 16px;
  background-image: url(../img/promo.jpg);
  background-size: cover;
  background-position: left bottom;
  display: flex;
}

.promo__left {}

.promo__content {
  width: 100%;
  padding: 30px 0;
}

.promo__title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 42px;
  color: #FFFFFF;

  span {
    color: #FF8806;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.imgtitle {}

.imgtitle_small {}

.promo__button {}

.buttongift {
  background: #FF8806;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 60px;
  transition: all 0.3s ease;

  span {
    display: block;
  }

  .buttongift__icon {
    background: #E05E00;
    border-radius: 12px;
    width: 86px;
    height: 52px;
    position: relative;

    img {
      transition: all 0.3s linear;

      position: absolute;
      max-width: initial;
      max-height: initial;
      bottom: -2px;
      left: 50%;
      transform: translate(-50%);
      right: 0;
      margin: auto;
    }
  }

  &:hover {
    background: #FF6006;

    .buttongift__icon {
      background: #E25100;
    }

    img {
      transform: rotate(8deg) translateX(-45px);
    }

  }

  &:focus {
    background: #E25100;

    .buttongift__icon {
      background: #BE4400;
    }


  }
}

.buttongift__text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  display: inline-block;
  padding-right: 32px;
  color: #FFFFFF;
}

.buttongift__icon {}

.promo__right {}

.promo__container {
  margin: 0 122px;
  display: flex;
  align-items: center;
  height: 410px;
  position: relative;
  width: 100%;
}

.promo__img {
  position: absolute;
  bottom: 0;
  max-width: initial;
  max-height: initial;
  right: 0;
}

.promo__left {
  width: 60%;
}

.teamblock {
  padding: 40px 0;
}

.colstitle {}

.colstitle__col {}

.imgtitle {}

.imgtitle_h2 {}

.colstitle__title {}

.imgtitle_small {}

.sliderblock {}

.sliderblock__container {
  position: relative;
}

.sliderblock__slider {}


.team {}

.team__wrapper {
  padding: 30px 17px;
  width: 346px;
  max-width: 100%;
}

.team__image {
  margin-bottom: 18px;
}

.team__img {}

.team__name {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  margin-bottom: 10px;
  color: #29395B;

}

.team__text {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #29395B;

  opacity: 0.5;
}

.swiper-button-next {
  right: -90px;
}

.swiper-button-prev {
  left: -90px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 50px;
  height: 50px;

  &:after {
    display: none;
  }
}

@media (max-width: 1450px) {
  .promo__container {
    margin: 0 30px;
  }
}

.sliderblock__slide.swiper-slide.swiper-slide-duplicate.swiper-slide-duplicate-prev,
.sliderblock__slide.swiper-slide.swiper-slide-duplicate-prev,
.sliderblock__slide.swiper-slide.swiper-slide-duplicate.swiper-slide-prev,
.sliderblock__slide.swiper-slide.swiper-slide-prev,
.sliderblock__slide.swiper-slide.swiper-slide-duplicate {
  opacity: 0;
}

.swiper {
  overflow: initial;
}

.swiper-slide {
  margin: auto;
}

.sliderblock {
  position: relative;
}

.reviewblock {
  padding: 0 0 30px 0;

  .imgtitle.imgtitle_h2 {
    margin-bottom: 0 !important;
  }

}

.colstitle {}

.colstitle__col {}

.imgtitle {}

.imgtitle_h2 {}

.colstitle__title {}

.imgtitle_small {}

.sliderblock {}

.sliderblock__container {}

.swiper {}

.swiper-review {}

.sliderblock__slider {}

.swiper-wrapper {}

.sliderblock__slide {}

.swiper-slide {}

.review {}

.review__wrapper {}

.review__image {
  padding-bottom: 60px;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;

}



.arrowRight,
.arrowLeft {
  z-index: 999;
}

.slick-disabled {
  opacity: 0.3;
  cursor: disabled;
}

.review__img img {
  box-shadow: 12px 12px 60px rgba(41, 57, 91, 0.15);
  border-radius: 18px;
  margin: auto;

}

.swiper-button-prev {}

.swiper-review-button-prev {}

.swiper-button-next {}

.swiper-review-button-next {}


.sliderblock__slide.slick-slide {


  .review__img img {
    box-shadow: none;
  }
}


.sliderblock__slide.slick-slide.slick-active {
  margin: 0;

  .review__img img {
    box-shadow: 12px 12px 60px rgba(41, 57, 91, 0.15);

  }
}


.swiper-review .slick-list {
  overflow: visible;
}

.swiper-review {
  .sliderblock__slide.slick-slide {
    opacity: 0;
    transition: all 0.3 ease;
  }

  .sliderblock__slide.slick-slide.slick-active {
    opacity: 1;
  }
}

.review__image {}


.zoom {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 3;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
  transition: all 0.3 ease;
  border-radius: 18px;

  img {
    display: block;
    margin: auto;
  }

  span {
    margin-top: 15px;
    display: block;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;

    color: #29395B;
  }
}

.review__img {
  position: relative;

}

.review__wrapper:hover {
  .zoom {
    display: flex;
    transition: all 0.3s ease;
  }
}

.zoom__content {
  text-align: center;
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.swiper-slide img {
  max-width: 100%;
}

.gallery__container {
  padding-bottom: 60px;
  margin-bottom: 70px;
}

.swiper-scrollbar {
  background: #d6d6d6;
}

.swiper-container-horizontal>.swiper-scrollbar {
  border-radius: 2px;
  height: 5px;
  width: 200px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-scrollbar {
  height: 6px;
}

.swiper-scrollbar-drag {
  background: #4A93FF;
  border-radius: 55px;
  cursor: pointer;
}

.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  left: 0;
  width: 100%;
}


.faqblock {}

.colstitle {}

.colstitle__col {}

.imgtitle {}

.imgtitle_h2 {}

.colstitle__title {}

.imgtitle_small {}

.faq {}

.faq__items {
  padding-bottom: 50px;
}

.faq__item {
  background: #FFFFFF;
  box-shadow: 12px 12px 60px rgba(41, 57, 91, 0.15);
  border-radius: 8px;
  margin-bottom: 16px;
}

.faq__wrapper {}

.faq__header {
  padding: 32px 30px 32px 50px;
  border-bottom: 2px solid rgba(41, 57, 91, 0.1);
  cursor: pointer;
}

.faq__title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  position: relative;
  width: 100%;
  color: #29395B;



  &:after {
    transition: all 0.3s ease;
    content: url(../img/faq.svg);
    position: absolute;
    right: 0;
  }
}

.faq__header.active {
  .faq__title:after {
    transform: rotate(180deg);
  }
}

.faq__content {
  padding: 20px 30px 40px 50px;
}

.faq__container {}

.faq__text {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #29395B;

  p {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #29395B;
  }
}

.accordeon-contentjs {
  display: none;
}

.contacts {
  padding: 30px 0;
}

.contacts__items {}

.contacts__item {}

.contacts__item_left {}

.contacts__info {
  background: #FFFFFF;
  border: 6px solid #FFFFFF;
  box-shadow: 12px 12px 60px rgba(41, 57, 91, 0.15);
  border-radius: 12px;
  padding: 56px 48px 30px 48px;
  width: 436px;

  .imgtitle.imgtitle_h2 {
    margin-bottom: 34px !important;
  }

  h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */

    color: #29395B;
  }

  .imgtitle.imgtitle_h2:after {
    content: url(../img/cont.svg);
  }
}

.contactitem {
  display: flex;
  margin-bottom: 22px;
}

.contactitem__icon {}

.contactitem__img {
  width: 40px;
}

.contactitem__content {}

.phonetel {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */


  color: #29395B;
  display: block;
  margin-bottom: 3px;
}

.callbacklink {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #1775FF;

  &:hover {
    color: #1775FF;
  }
}

.contacitem__text {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #29395B;
}

.contactitem_center {
  align-items: center;
}

.socials {
  padding: 10px 0;
}

.socials__items {
  display: flex;
  align-items: center;
}

.socials__item {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  background: #FFFFFF;
  border: 1px solid #E1E4E7;
  border-radius: 5555px;
}

.map {
  background: url(image.png);
  border: 6px solid #FFFFFF;
  box-shadow: 12px 12px 60px rgba(41, 57, 91, 0.15);
  border-radius: 12px;
  width: 100%;
  height: 100%;
  margin-left: 22px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.contacts__items {
  display: flex;
}

.contacts__item_right {
  width: calc(100% - 432px - 22px);
  max-width: 100%;
}